/* Estilos gerais */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f7fc;
}

/* Container do Dashboard */
.dashboard-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    padding-top: 120px;
    width: 100%;
    gap: 20px; /* Espaço entre os componentes */
}

/* Sidebar de Filtros */
.filter-container {
    width: 250px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    padding: 15px; /* Adicionando padding interno */
    margin-right: 20px;
}

.filter-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
}

.date-range {
    margin-bottom: 15px;
}

.date-range label {
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}

.date-range input[type="date"] {
    width: 85%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.row-limit {
    margin-bottom: 15px;
}

.row-limit label {
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}

.row-limit input[type="number"] {
    width: 85%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Estilos para o seletor de ordenação */
.order-direction {
    margin-bottom: 15px;
}

.order-direction label {
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}

.order-direction select {
    width: 90%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    font-size: 14px;
    color: #555;
    cursor: pointer;
}

.order-direction select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.filter-item {
    margin-bottom: 10px;
}

.filter-item label {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;
}

.filter-item input[type="checkbox"] {
    margin-right: 10px;
    accent-color: #007bff; /* Cor do checkbox */
}

.filter-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.3s ease;
}

.filter-button:hover {
    background-color: #0056b3;
}

/* Área Principal do Dashboard */
.dashboard-content {
    display: flex;
    justify-content: center;
    flex: 1;
    padding-top: 0px;
    flex-direction: row;
}

/* Bloco de Configuração do Gráfico */
.chart-settings {
    width: 250px;
    background-color: #f9f9f9; /* Cor igual à sidebar */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    flex-shrink: 0;
    margin-right: 60px;
    margin-left: 20px;
}

.chart-settings-item {
    width: 90%;
    margin-bottom: 15px;
}

.chart-settings label {
    font-size: 14px;
    color: #555;
}

.chart-settings select,
.chart-settings input[type="text"],
.chart-settings input[type="checkbox"] {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 14px;
    color: #555;
    background-color: white;
    width: 100%;
    margin-top: 5px;
}

.chart-settings input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
}

.chart-settings select:focus,
.chart-settings input[type="text"]:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Container do gráfico */
.chart-container {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 400px;
    flex: 1;
}

/* Responsividade */
@media (max-width: 768px) {
    .dashboard-container {
        flex-direction: column;
        padding: 10px; /* Pequeno padding para os dispositivos menores */
    }

    .filter-container {
        width: 100%;
        padding: 1rem;
    }

    .dashboard-content {
        padding: 1rem;
        flex-direction: column;
        gap: 20px;
    }

    .chart-settings {
        width: 100%;
    }

    .chart-container {
        width: 100%;
        height: 300px;
    }
}
